{% extends 'base.html.twig' %} {% block title %}Univ - Seances{% endblock %} {%
block body %}

<style>
  .small-box {
    position: relative;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  .cat{
    position: absolute;
    width: 100%;
    transition: all 0.8s ease-out;
  }
  .lettre{
    top:0%;
  }
  .number{
    top:100%;
  }
  .small-box.active .lettre {
    top: -100%;
  }

  .small-box.active .number {
    top: 0;
  }
</style>
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Seances</h1>
      <div class="section-header-breadcrumb">
        <a href="#" id="synthese" class="btn btn-primary ml-1"><i class="fas fa-chart-bar"></i> Synthése</a>
        <a href="#" id="z" class="btn btn-primary ml-1"><i class="fas fa-edit"></i> Z</a>
        <a href="#" id="s" class="btn btn-primary ml-1"><i class="fas fa-edit"></i> S</a>
        <a href="#" id="planing" class="btn btn-success ml-1"><i class="fas fa-calendar-alt"></i> Planing</a>
        <a href="#" id="imprimer" class="btn btn-secondary ml-1"><i class="fas fa-print"></i> Imprimer</a>
        <a href="#" id="verouiller" class="btn btn-danger ml-1"><i class="fas fa-lock"></i> Verouiller</a>
        <a href="#" id="retraiter" class="btn btn-success ml-1"><i class="fas fa-redo"></i> Retraiter</a>
        <a href="#" id="scan" class="btn btn-secondary ml-1"><i class="fas fa-file"></i> Scan</a>
        <a href="#" id="annuler" class="btn btn-danger ml-1"><i class="fas fa-window-close"></i> Annuler</a>
        <a href="#" id="signer" class="btn btn-primary ml-1"><i class="fas fa-signature"></i> Signer</a>
        <a href="#" id="existe" class="btn btn-primary ml-1"><i class="fas fa-thumbtack"></i> Existe</a>
        <a href="#" id="reinitialiser" class="btn btn-danger ml-1"><i class="fas fa-minus"></i> Réinitialiser</a>
        <a href="#" id="modifiersalle" class="btn btn-warning ml-1"><i class="fas fa-edit"></i> Modifier Salle</a>
        <a href="#" class="btn btn-success ml-1" id="traiter"><i class="fas fa-clock"></i> Traiter</a>

        {# {% for operation in operations %}
        <a href="{{ operation.link }}" class="{{ operation.classTag }}" id="{{ operation.idTag }}"><i
            class="{{ operation.icon }}"></i> {{ operation.designation }}</a>
        {% endfor %} #}
      </div>
    </div>

    <div class="section-body">
      <div class="card">
        <div class="card-header">
          <h4>Tableau des Seances</h4>
        </div>
        <div class="card-body">
          <div class="card-search" style="margin-bottom: 1.5rem">
            <div class="row">
              <div class="col-md-2" style="padding-right: 5px !important;padding-left: 5px !important;">
                <label for="day">Jour:</label>
                <input type="date" class="form-control" name="day" id="day" value="{{ 'now' | date('Y-m-d')}}" />
              </div>
              <div class="col-md-2" style="padding-right: 5px !important;padding-left: 5px !important;">
                <label for="etablissement">Etablissement:</label>
                <select class="form-control" name="etablissement" id="etablissement">
                  <option value="">Choix etablissement</option>
                  {% for etablissement in etablissements %}
                  <option value="{{ etablissement.id }}">
                    {{ etablissement.designation }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-2" style="padding-right: 5px !important;padding-left: 5px !important;">
                <label for="formation">Formation:</label>
                <select class="form-control" name="formation" id="formation"></select>
              </div>
              <div class="col-md-2" style="padding-right: 5px !important;padding-left: 5px !important;">
                <label for="promotion">Promotion:</label>
                <select class="form-control" name="promotion" id="promotion"></select>
              </div>
              <div class="col-md-1" style="padding-right: 5px !important;padding-left: 5px !important;">
                <label for="salles">Salles:</label>
                <select class="form-control" name="salles" id="salles">
                  <option value="">Choix salle</option>
                  {% for salle in salles %}
                  <option value="{{ salle.id }}">
                    {{ salle.designation }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-2" style="padding-top: 21px; padding-right: 5px !important;padding-left: 5px !important;">
                  <button id="parlot" data-toggle="modal" data-target="#parlot_modal" type="button" class="btn btn-outline-info btn-rounded waves-effect" style="    display: inline-block;"><i class="fas fa-clock"></i>&nbsp;&nbsp;Par lot</button>
              </div>
            </div>
          </div>
          <div class="d-flex">
            <div class="small-box a">
              <div class="cat lettre">A</div>
              <div class="cat number">888</div>
            </div>
            <div class="small-box b">
              <div class="cat lettre">B</div>
              <div class="cat number">0</div>
            </div>
            <div class="small-box c">
              <div class="cat lettre">C</div>
              <div class="cat number">0</div>
            </div>
            <div class="small-box d">
              <div class="cat lettre">D</div>
              <div class="cat number">0</div>
            </div> 
            {# <div class="clearfix"></div> #}
          </div>
          <table id="datatables_gestion_seances" class="table table-striped" style="width: 100%">
            <thead>
              <tr>
                <th>Seance</th>
                <th>Nature</th>
                <th>Salle</th>
                <th>Element</th>
                <th>Enseignant</th>
                <th>HD</th>
                <th>HF</th>
                <th>Groupe</th>
                <th>Signé</th>
                <th>Annulé</th>
                <th>Existe</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <th>Seance</th>
                <th>Nature</th>
                <th>Salle</th>
                <th>Element</th>
                <th>Enseignant</th>
                <th>HD</th>
                <th>HF</th>
                <th>Groupe</th>
                <th>Signé</th>
                <th>Annulé</th>
                <th>Existe</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<!--Modal Import Group-->
{% include 'traitement/modals/parlot.html.twig' %}
{% include 'traitement/modals/etudiant.html.twig' %}
{% endblock %} {% block javascripts
%}
{{ parent() }}
{# {{ encore_entry_script_tags("traitement") }} #}
<script src="/assets/js/traitement/traitement.js"></script>

{% endblock %}