<div class="col-md-12" style="">
    <fieldset>
        <div class="col-md-12 row" style="margin:0">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Séance  :</label>
                    <input type="text" class="form-control" name="seance" id="seance" readonly value="{{xabs.IDSéance}}" />
                </div>
            </div> 
            <div class="col-md-4">
                <div class="form-group">
                    <label>Admission  :</label>
                    <input type="text" class="form-control" name="admission" id="admission" readonly value="{{xabs.IDAdmission}}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nom et prénom  :</label>
                    <input type="text" class="form-control" name="name" id="name" readonly value="{{xabs.nom}} {{xabs.prénom}}" />
                </div>
            </div>
        </div>
        <div class="col-md-12 row" style="margin:0">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Catégorie :</label>
                    <input type="text" class="form-control" name="categorie" id="categorie" readonly value="{% if xabs.getCategorieSi %} {{ xabs0getCategorieSi }} {% else %} {{xabs.getCategorie}} {% endif %}" />
                </div>
            </div> 
            <div class="col-md-4">
                <div class="form-group">
                    <label>Catégorie enseignant  :</label>
                    <select class="form-control " style="width: 100%" name="cat_Ens" id='cat_Ens'>
                        <option value="" selected>Choix de categorie</option>
                        <option value="PEE">PEE</option>
                        <option value="AD">AD</option>
                        <option value="BD">BD</option>
                        <option value="S">S</option>
                        <option value="Z">Z</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Heur pointage  :</label>
                    <input type="text" class="form-control" name="categorie" id="categorie" readonly value="{{ xabs.HeurePointage | date('H:i') }}" />
                </div>
            </div>
        </div>
        <div class="col-md-12 row" style="margin:0">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Observation :</label>
                    {# <textarea type="text" class="form-control" name="observation" id="observation" value=""> <textarea/> #}
                    <textarea class="form-control" name="observation" id="observation"></textarea>
                </div>
            </div> 
        </div>
        
    </fieldset>
</div>
<button type="submit" class="btn btn-primary mb-4 float-right mr-5" ><i class="fas fa-check"></i> Enregister</button>
{# <button type="submit" class="btn btn-success float-right" style="margin-top:25px" ><i class="fas fa-check"></i> Enregister</button> #}