<thead>
    <tr>
        <th>Admission
        </th>
        <th>Etudiant
        </th>
        <th>Pointage
        </th>
        <th>Cat Si
        </th>
        <th>Cat Enseignant
        </th>
        <th>Cat Retraitement
        </th>
        <th>Cat F
        </th>

    </tr>
</thead>
<tbody>
    {% if type == "ins" %}

        {% for etu in etudiants %}
            <tr>
                <td>{{etu.admission.code}}</td>
                <td>{{etu.admission.preinscription.etudiant.nom}} {{etu.admission.preinscription.etudiant.prenom}}</td>
                <td> - </td>
                <td> - </td>                         
                <td> - </td>                         
                <td> - </td>                         
                <td> - </td>                         
            </tr>
        {% endfor %}
        
    {% else %}
        {% for etu in etudiants %}
            <tr admission={{etu["id_admission"]}}>
                <td>{{etu["id_admission"]}}</td>
                <td>{{etu["nom"]}} {{etu["prénom"]}}</td>
                <td>{{etu["heure_pointage"] | date('H:i:s')}}</td>
                <td>{{etu["categorie"]}}</td>                         
                <td>{{etu["categorie_enseig"]}}</td>                         
                <td>{{etu["categorie_si"]}}</td>                         
                <td>{{etu["categorie_f"]}}</td>                         
            </tr>
        {% endfor %}
    {% endif %}
</tbody>