<thead>
    <tr>
        <th>
        </th>
        <th>Seance
        </th>
        <th>Heure debut
        </th>
        <th>Heure Fin
        </th>
        <th>Etablissement
        </th>
        <th>Formation
        </th>
        <th>Promotion
        </th>
        <th>Groupe
        </th>
        <th>Salle
        </th>
        <th>Element Module
        </th>
        <th>Enseignant
        </th>



    </tr>
</thead>
<tbody>
    {% for emp in emptimes %}
        <tr>
            <td><input disabled type ='checkbox' class='check_seance' id ='{{emp["id_seance"]}}' value="{{emp["id_seance"]}}"></td>
            <td>{{emp["id_seance"]}}</td>
            <td>{{emp["heur_db"] | date('H:i:s')}}</td>
            <td>{{emp["heur_fin"] | date('H:i:s')}}</td>
            <td>{{emp["etbalissement"]}}</td>
            <td>{{emp["formation"]}}</td>
            <td>{{emp["promotion"]}}</td>
            <td>{% if emp["groupe"] %}
                {{emp["groupe"]}}
            {% else %}
                -
            {% endif %}</td>
            <td>{{emp["salle"]}}</td>
            <td>{{emp["element"]}}</td>
            <td>{{emp["enseignant"]}}</td>  
        </tr>
    {% endfor %}
</tbody>