<table id="datatables_pointages" class="table table-striped" style="width: 100%">
<thead>
    <tr>
    <th>Admission</th>
    <th>Nom Complet</th>
    <th>Date Pointage</th>
    <th>Heur Pointage</th>
    <th>Salle</th>
    <th>Ip</th>
    <th>Sn</th>
    </tr>
</thead>
<tbody>
    {% for pointage in pointages %}
    <tr>
        <th> {{pointage["street"]}} </th>
        <th>{{pointage["name"]}}</th>
        <th>{{pointage["checktime"] | date("Y-m-d")}}</th>
        <th>{{pointage["checktime"] | date("H:i:s")}}</th>
        <th>
            {{pointage["salleDesignation"]}}
        </th>
        {# <th>
            {{ render(controller(
            'App\\Controller\\SituationPointageController::getSalle', { code : pointage["code_salle"]}
            )) }}
        </th> #}
        <th>{{pointage["ip"]}}</th>
        <th>{{pointage["sn"]}}</th>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
    <th>Admission</th>
    <th>Nom Complet</th>
    <th>Date Pointage</th>
    <th>Heur Pointage</th>
    <th>Salle</th>
    <th>Ip</th>
    <th>Sn</th>
    </tr>
</tfoot>
</table>