<!DOCTYPE html>
<html>
	<head>
		<style>
			.column {
				float: left;
				padding: 10px;
			}

			.left {
				width: 65%;
			}

			.right {
				width: 25%;
			}

			/* Clear floats after the columns */
			.row:after {
				content: "";
				display: table;
				clear: both;
			}
			body {
				margin-top: 0;
				margin-bottom: 0;
				font-size: 10px;
			}
			#customers {
				font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
				font-size: 8px;
				border-collapse: collapse;


			}

			#customers td,
			#customers th {
				border: 1px solid #ddd;
				padding: 5px;
			}

			#customers tr:nth-child(even) {
				background-color: #f2f2f2;
			}

			#customers tr:hover {
				background-color: #ddd;
			}

			#customers th {
				font-size: 10px;

				text-align: left;
				background-color: lightblue;
				color: black;

			}

			.td {
				border-bottom: 1px solid #000;
			}

			.tdsmall {
				font-weight: bold;
				width: 30%;
			}

			.page-number:before {
				content: "Page " counter(page);
			}
		</style>
	</head>
	{% set page = 0 %}

	<body>

		<table style="width: 100%; margin:40px 100px 0 100px" cellspacing="0">
			<tr>
				<td style="text-align: right;">
					{# <img id="img" style="width:20%;margin-right: 20px;" src="{{ asset('assets/img/logo/Logo_UIASS_bkack2.png') }}"/> #}
				</td>
				<td style="text-align: left;">
					<h1 style="font-size: 1.5em; font-family: Courier, Helvetica, serif; margin: 0; padding: 0;">
						Situation<br>Présentielle
					</h1>
				</td>
			</tr>
		</table>

		<br/>
		<div class="row">
			<div class="column">
				<table style="width: 100%; margin:0 40px" cellspacing="0">
					<tbody>

						<tr>
							<td style="padding-top:5px" class="td tdsmall">Id Admission</td>

							<td style="padding-top:5px" class="td">:&nbsp;&nbsp;&nbsp;{{inscription.admission.code}}
							</td>

						</tr>
						<tr>
							<td style="padding-top:5px" class="td tdsmall">Etudiant</td>

							<td style="padding-top:5px" class="td">:&nbsp;&nbsp;&nbsp;{{inscription.admission.preinscription.etudiant.nom}}
								{{inscription.admission.preinscription.etudiant.nom}}
							</td>

						</tr>
						<tr>
							<td style="padding-top:5px" class="td tdsmall">Etablissement</td>

							<td style="padding-top:5px" class="td">:&nbsp;&nbsp;&nbsp;{{inscription.promotion.formation.etablissement.designation}}</td>

						</tr>
						<tr>
							<td style="padding-top:5px" class="td tdsmall">Formation</td>

							<td style="padding-top:5px" class="td">:&nbsp;&nbsp;&nbsp;{{inscription.promotion.formation.designation}}
							</td>

						</tr>
						<tr>
							<td style="padding-top:5px" class="td tdsmall">Promotion</td>

							<td style="padding-top:5px" class="td">:&nbsp;&nbsp;&nbsp;{{inscription.promotion.designation}}</td>

						</tr>


					</tbody>
				</table>
				<div style="text-align: center">
					<h6 style="margin:10 40px">
						(A-Z) : Présent - B : Retard  C & D & AD & BD : Absent - P : Capitaliser
					</h6>
				</div>


				<div></br>
			</br>
		</br>
		<table class="table" cellspacing="0" id="customers" style="margin:10px 20px 0 20px; width:100%">
			<thead>
				<tr>
					<th>ID Séance</th>
					<th>Type Sénce</th>
					<th>Module</th>
					<th>Element</th>
					<th>Date_Séance</th>
					<th>Heure Début</th>
					<th>Heure Fin</th>
					<th>Volume Horaire</th>
					<th>Categorie</th>
				</tr>
			</thead>
			<tbody>
				{% set semain = 0 %}
				{% for se in seances %}
					{% if se["semaine_id"] != semain %}
						<tr style="background:lightgrey; ">
							<td style="text-align:center;letter-spacing:1.5px;" colspan="9">{{se["sem_debut"] | date('Y-m-d')}}
								au
								{{ se["sem_fin"] | date('Y-m-d')}}</td>
						</tr>
						{% set semain = se["semaine_id"] %}
					{% endif %}
					<tr>


						<td>{{se["seance_id"]}}
						</td>
						<td>{{se["type"]}}</td>
						<td>{{se["module"]}}
						</td>
						<td>{{se["element"]}}
						</td>


						<td>{{se["date_seance"]}}</td>
						<td style="text-align:center;">{{se["heur_db"]}}</td>
						<td style="text-align:center;">{{se["heur_fin"]}}</td>
						<td style="text-align:center;">{{se["volume"]}}</td>
						<td style="text-align:center;">
                            {{ render(controller(
                            'App\\Controller\\SituationPresentielController::getCategorie', { adm : inscription.admission.code, seance :se["seance_id"] }
                            )) }}
                        </td>
						{# {% if (et.Categorie == "D" or et.Categorie == "C") and et.Categorie_Enseig == "Z" %}

							<td style="text-align:center;">{{et.Categorie_Enseig}}</td>
						{% elseif (et.Categorie_Enseig == "AD" or et.Categorie_Enseig == "BD") %}

							<td style="text-align:center;">{{et.Categorie_Enseig}}</td>
						{% else %}
							<td style="text-align:center;">{{et.Categorie}}</td>

						{% endif %} #}
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</body>
</html></div></body></html>
