{# {%set getCurrentUrl = app.request.pathinfo|split('/')[1]%}
{%set secondCurrentUrl = app.request.pathinfo|split('/')[2]%} #}

{% set assiduite_users = [96, 97, 98, 39, 1] %}

<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="#">UNIV</a>
      <span>FCZ MTSI - Solution Universitaire</span>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="#">UV</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>
      {# {{ dump(app.request.attributes.get('_route')) }} #}
      {% if app.user.id in assiduite_users %}
        {%set assiduite = ['traitement','app_situation_pointage','app_situation_presentiel','app_extraction','app_regularisation']%}
        <li class="nav-item dropdown {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') in assiduite %}active{% endif %}">
          <a href="#" class="nav-link has-dropdown"
            ><i class=""></i><span>Assiduite</span></a
          >
          <ul class="dropdown-menu">
              <li><a class="nav-link {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') == 'traitement' %}activeSecondUrl{% endif %}" href="{{path('traitement')}}">Assiduite</a></li>
          </ul>
          <ul class="dropdown-menu">
              <li><a class="nav-link " href="{{path('app_situation_pointage')}}">Situation Pointage</a></li>
          </ul>
          <ul class="dropdown-menu">
              <li><a class="nav-link " href="{{path('app_situation_presentiel')}}">Situation Presentiel</a></li>
          </ul>
          {% if app.user.id == 39 or app.user.id == 1 %}
          <ul class="dropdown-menu">
              <li><a class="nav-link " href="{{path('app_extraction')}}">Extraction</a></li>
              <li><a class="nav-link " href="{{path('app_regularisation')}}">Regularisation</a></li>
          </ul>
          {% endif %}
        </li>
        <li class="nav-item dropdown {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') == 'app_stage' %}active{% endif %}">
          <a href="#" class="nav-link has-dropdown"
            ><i class=""></i><span>Stage</span></a
          >
          <ul class="dropdown-menu">
              <li><a class="nav-link {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') == 'app_stage' %}activeSecondUrl{% endif %}" href="{{path('app_stage')}}">Stage</a></li>
          </ul>
        </li>
      {% else %}
        <li class="nav-item dropdown {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') == 'app_stage' %}active{% endif %}">
          <a href="#" class="nav-link has-dropdown"
            ><i class=""></i><span>Stage</span></a
          >
          <ul class="dropdown-menu">
              <li><a class="nav-link {% if app.request.attributes.get('_route') is defined and app.request.attributes.get('_route') == 'app_stage' %}activeSecondUrl{% endif %}" href="{{path('app_stage')}}">Stage</a></li>
          </ul>
        </li>
      {% endif %}

      
      
      {# {% for module in app.session.get('modules') %}
      
      <li class="nav-item dropdown {% if getCurrentUrl == module.module.prefix %} active {% endif %}">
        <a href="#" class="nav-link has-dropdown"
          ><i class="{{module.module.icon}}"></i><span>{{module.module.designation}}</span></a
        >
        <ul class="dropdown-menu">
          {% for sousModule in module.sousModule %}
            <li><a class="nav-link {% if getCurrentUrl == module.module.prefix and secondCurrentUrl == sousModule.prefix %} activeSecondUrl {% endif %}" href="{{path(sousModule.link)}}">{{sousModule.designation}}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %} #}
      {# {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown {% if getCurrentUrl == "parametre" %} active {% endif %}">
        <a href="#" class="nav-link has-dropdown">
          <i class="fas fa-users-cog"></i><span>Adminstration</span>
        </a>
        <ul class="dropdown-menu">
            <li><a class="nav-link {% if getCurrentUrl == "parametre" and secondCurrentUrl == "user" %} activeSecondUrl {% endif %}" href="{{path('parametre_user')}}">Users</a></li>
        </ul>
      </li>
      {% endif %} #}
    </ul>
  </aside>
</div>
